.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.quote {
  background-color: yellow;
  background-size: cover;
  width: 450px;
  height: 320px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote h2 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
.quote small {
  font-size: 1em;
}
.btn {
  display: block;
  border: 2px solid;
  background: transparent;
  background-color: aqua;
}
.btn:hover {
  background-color: blue;
}
